body {
    margin: 0;
    color: rgb(236, 233, 233);

}
.column1{
    width:17%;
    height:57vw;
    float: left;
    background-color: black;
    padding: 1.5%;
}
.column2{
    width:76%;
    height:56vw;
    background-color:#1a1b1c;
    float: right;
    padding: 2%;
}
.menu1{
    padding: 5%;
    
}
.menu11{
    padding: 5%;
}
.link{
    color: whitesmoke;
    margin: 5%;
    padding: 5%;
    text-decoration-line: none;
    text-align: center;
    font-size: larger;
}
.links{
    color: whitesmoke;
    margin:10%;
    padding: 10%;
    text-decoration-line: none;
    text-align: center;
    font-weight: bold;
}
.box{
    background-color: black;
    margin-left: 3%;
    margin-right: 5%;
    width: 7%;
    height: 25px;
    border-radius: 5px;
    padding: 5px 10px;
    align-items: center;
}
.bar{
    display: flex;
}
.box2{
    display: flex;
}
td,th{
    border-bottom : 1px solid gray;
    border-spacing: 4px;
    padding: 5px;
}
.box3{
    display:flex;
    padding: 2%;
}
.play{
    background-color: black;
}